html {
    font-size: 15px;
}

.wrapping_list div {
    display: flex;
    justify-content: center;
}

.wrapping_list ul {
    text-align: center;
    list-style: inside;
}

.wrapping_list li {
    vertical-align: top;
    display: inline-block;
    margin: 1%;
    /* width: 7.5rem; */
    overflow: auto;
}

.wrapping_list img {
    width: 90%;
}

.cut-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .container-fill {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        max-width: 1200px;
    }
}