{% extends 'proj.html' %}

{% block proj_content %}

<div class="container-fluid container-fill">
    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/p/{{ proj['shortname'] }}/discussion/">Discussion</a></li>
        <li class="breadcrumb-item"><a href="/p/{{ proj['shortname'] }}/discussion/{{ forum['forum']['shortname'] }}/">{{ forum['forum']['name'] }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ sub['topic']['subject'] }}</li>
    </ol>
</nav>

<h3 class="mb-4">{{ sub['topic']['subject'] }}</h3>

{% include 'includes/paginate.html' %}

{%- for reply in sub['topic']['posts'] -%}
<div id="{{ reply['slug'] }}" class="card mb-4" style="margin-left: {{ reply['slug'].count('/') }}rem;">
    <div class="card-header">
        <p class="mb-0 p-1">
            <a href="/u/{{ reply['author' ] }}/" class="text-decoration-none">
                {%- if reply['author_icon_url'] -%}
                <img src="{{ reply['author_icon_url'] }}" style="width: 2rem;" class="border my-0 me-2"/>
                {%- else -%}
                <img src="/static/icon.png" style="width: 2rem;" class="border my-0"/>
                {% endif %}
                {{ reply['author' ] }}
            </a> - {{ reply['timestamp'] | formatDate(humanize=True) }}
            <span class="text-decoration-none" style="float:right;">
                <a class="text-reset" href="#" data-bs-toggle="tooltip" title="Reply (not implemented)">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
                <a class="text-reset" href="#{{ reply['slug'] }}" data-bs-toggle="tooltip" title="Share">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
            </span>
        </p>
    </div>
    <div class="card-body">
        <div class="markdown">
            {{ reply['text'] | formatMarkdown | safe }}
        </div>
        {%- if reply['last_edited'] -%}
        <hr>
        <small class="mb-4">Last edited {{ reply['last_edited'] | formatDate(humanize=True) }}</small>
        {%- endif -%}
        {%- if reply['attachments'] -%}
        <div class="row" style="margin-left: -0.25rem; margin-top: 0.5rem;">
            {%- for attch in reply['attachments'] -%}
            <div class="col-auto border m-1 px-3 py-2">
                <a href="{{ attch['url'] }}" class="text-decoration-none" target="_blank">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
                {{ attch['url'] | formatUrlFilename }} ({{ attch['bytes'] | formatBytes }})
            </div>
            {%- endfor -%}
        </div>
        {%- endif -%}
    </div>
</div>
{%- endfor -%}

{% include 'includes/paginate.html' %}

</div>

<!-- {{ sub }} -->

{% endblock %}