{% extends 'proj.html' %}

{% block proj_content %}

<div class="container-fluid container-fill">
    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/p/{{ proj['shortname'] }}/discussion/">Discussion</a></li>
        <li class="breadcrumb-item"><a href="/p/{{ proj['shortname'] }}/discussion/{{ forum['forum']['shortname'] }}/">{{ forum['forum']['name'] }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ sub['topic']['subject'] }}</li>
    </ol>
</nav>

<h3 class="mb-4">{{ sub['topic']['subject'] }}</h3>

{% include 'includes/paginate.html' %}

{%- for reply in sub['topic']['posts'] -%}
<div id="{{ reply['slug'] }}" class="card mb-4" style="margin-left: {{ reply['slug'].count('/') }}rem;">
    <div class="card-header">
        <p class="mb-0">
            <a href="/u/{{ reply['author' ] }}/">{{ reply['author' ] }}</a> - {{ reply['timestamp'] | formatDate(humanize=True) }}
            <span style="float:right;">
                <a class="text-reset" href="#" data-bs-toggle="tooltip" title="Reply (not implemented)">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
                <a class="text-reset" href="#{{ reply['slug'] }}" data-bs-toggle="tooltip" title="Share">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
            </span>
        </p>
    </div>
    <div class="card-body">
        {%- set ns = namespace(pre=False, check_next=False) -%}
        {{ reply['text'] | formatMarkdown | safe }}
        {%- if reply['last_edited'] -%}
        <hr>
        <small>Last edited {{ reply['last_edited'] | formatDate(humanize=True) }}</small>
        {%- endif -%}
    </div>
</div>
{%- endfor -%}

{% include 'includes/paginate.html' %}

</div>

<!-- {{ sub }} -->

{% endblock %}