{% extends 'proj.html' %}

{% block proj_content %}

<div class="col-md-8">
    <article>
        <section class="mb-5">
            {%- for desc in sub["short_description"] -%}
            <p class="fs-5 mb-4">{{ desc }}</p>
            <p>{{sub}}</p>
            {%- endfor -%}
        </section>
    </article>
</div>
<div class="col-md-4">
    {%- if recent_activity['timeline'] -%}
    <div class="card mb-4">
        <div class="card-header">Recent Activity</div>
        <div class="card-body">
            <ul class="list-unstyled mb-0">
            {%- for act in recent_activity['timeline'][:10] -%}
                <li>
                    <a class="text-decoration-none text-primary" href="{{ act['actor']['activity_url'] }}">{{ act['actor']['activity_name'] }}</a> 
                    {{ act['verb'] }} 
                    <a class="text-decoration-none text-primary" href="{{ act['obj']['activity_url'] }}">{{ act['obj']['activity_name'] }}</a>
                </li>
            {%- endfor -%}
            </ul>
        </div>
    </div>
    {%- endif -%}
    <div class="card mb-4">
        <div class="card-header">Developers</div>
        <div class="card-body wrapping_list">
            <ul class="list-unstyled m-0 p-0">
                {%- if proj['developers'][0]['icon_url'] -%}
                    {%- for dev in proj['developers'] -%}
                    <li>
                        <a href="/u/{{ dev['username'] }}" data-toggle="tooltip" 
                            title="{{ dev['name'] }} ({{ dev['username'] }})">
                            <img src="{{ dev['icon_url'] }}" class="rounded-3"/>
                        </a>
                    </li>
                    {%- endfor -%}
                {%- else -%}
                    {%- for dev in proj['developers'] -%}
                    <li><a class="text-decoration-none text-primary" href="/u/{{ dev['username'] }}">{{ dev['name'] }} ({{ dev["username"] }})</a></li>
                    {%- endfor -%}
                {%- endif -%}
            </ul>
        </div>
    </div>
</div>

<!-- {{ sub }} -->

{% endblock %}