{% extends 'proj.html' %}

{% block proj_content %}

<div class="col-md-4">
    <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item">
            <i class="fa fa-info" aria-hidden="true"></i>
            Status {{ proj['status'] }}
        </li>
        <li class="list-group-item">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            Created {{ proj['creation_date'] }}
        </li>
        {%- if proj['categories']['language'] -%}
        <li class="list-group-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            {%- for proj_lang in proj['categories']['language'] -%}
            {{ proj_lang['fullname'] }}{% if not loop.last %}, {% endif %}
            {%- endfor -%}
        </li>
        {%- endif -%}
        {%- if proj['external_homepage'] -%}
        <li class="list-group-item">
            <i class="fa fa-link" aria-hidden="true"></i>
            <a href="{{ proj['external_homepage'] }}">
                {{ proj['external_homepage'] | formatURL }}
            </a>
        </li>
        {%- endif -%}
        {%- for proj_socnet in proj['socialnetworks'] -%}
        {%- if proj_socnet['accounturl'] -%}
        <li class="list-group-item">
            <i class="fa fa-users" aria-hidden="true"></i>
            <a href="{{ proj_socnet['accounturl'] }}">
                {{ proj_socnet['socialnetwork'] }}
            </a>
        </li>
        {%- endif -%}
        {%- endfor -%}
        {%- for proj_licn in proj['categories']['license'] -%}
        <li class="list-group-item">
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
            {{ proj_licn['fullname'] }}
        </li>
        {%- endfor -%}
    </ul>
    <!-- <a class="btn btn-primary btn-lg w-100 mb-4" href="https://sourceforge.net/projects/{{ proj['shortname'] }}/files/latest/download">
        <i class="fa fa-download" aria-hidden="true"></i>
        Download
    </a> -->
    <div class="card mb-4">
        <div class="card-header">Developers</div>
        <div class="card-body wrapping_list">
            <ul class="list-unstyled m-0 p-0">
                {%- if proj['developers'][0]['icon_url'] -%}
                    {%- for dev in proj['developers'] -%}
                    <li style="width: 3.5rem;">
                        <a href="/u/{{ dev['username'] }}" data-toggle="tooltip" 
                            title="{{ dev['name'] }} ({{ dev['username'] }})">
                            <img src="{{ dev['icon_url'] }}" class="rounded-3"/>
                        </a>
                    </li>
                    {%- endfor -%}
                {%- else -%}
                    {%- for dev in proj['developers'] -%}
                    <li style="width: 7.5rem;">{{ dev['name'] }}
                        (<a class="text-decoration-none text-primary" href="/u/{{ dev['username'] }}">{{ dev["username"] }}</a>)</li>
                    {%- endfor -%}
                {%- endif -%}
            </ul>
        </div>
    </div>
</div>
<div class="col-md-8">
    <article>
        <section class="mb-5">
            {%- if sub["screenshots"] -%}
            <div id="carouselExampleControls" class="carousel carousel-dark slide mb-4" data-bs-ride="carousel">
                <div class="carousel-inner d-flex align-items-center" style="height: 20rem;">
                    {%- for proj_cap in sub['screenshots'] -%}
                    <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="5000">
                        <img src="{{ proj_cap['url'] }}" class="d-block mx-auto my-auto" style="max-height: 20rem; max-width: 100%;">
                    </div>
                    {%- endfor -%}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {%- endif -%}
            {%- for desc in sub["short_description"] -%}
            <p class="fs-5 mb-4">{{ desc }}</p>
            {%- endfor -%}
            <h2 class="mb-4">Recent Activity</h2>
            {% include 'includes/recent_activity.html' %}
        </section>
    </article>
</div>

<!-- {{ sub }} -->

{% endblock %}