{% extends 'index.html' %}

{% block content %}

<div class="container-fluid container-fill mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="container-fluid container-fill mt-4">
                <div class="row">
                    <div class="col-sm-2 col-usr-prof d-flex mb-4">
                        {%- if user['icon_url'] -%}
                        <img src="{{ user['icon_url'] }}" class="img-fluid img-thumbnail col-usr-prof"/>
                        {%- else -%}
                        <img src="/static/icon.png" class="img-fluid img-thumbnail col-usr-prof"/>
                        {%- endif -%}
                    </div>
                    <div class="col-md-auto col-6 mb-4 d-flex align-items-center">
                        <header>
                            <h2 class="fw-bolder mb-1">{{ user['name'] }}</h2>
                            <h3>{{ user["username"] }}</h3>
                        </header>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">Joined {{ user['joined'] | formatDate }}</li>
                {%- if user['localization']['country'] -%}
                <li class="list-group-item">
                    {% if user['localization']['city'] %}
                    {{ user['localization']['city'] }},
                    {% endif %}
                    {{ user['localization']['country'] }}
                </li>
                {%- endif -%}
                {%- for webpage in user['webpages'] -%}
                <li class="list-group-item">
                    <a href="">{{ webpage | formatURL }}

                    </a>
                </li>
                {%- endfor -%}
                {%- if user['skypeaccount'] -%}
                <li class="list-group-item">Skype: {{ user['skypeaccount']}}</li>
                {%- endif -%}
            </ul>
            {%- if user['skills'] -%}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Skill</th>
                        <th scope="col">Level</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for skill in user['skills'] -%}
                    <tr>
                        <td>{{ skill['skill']['fullname'] }}</td>
                        <td>{{ skill['level'] }}</td>
                        <td>{{ skill['comment'] }}</td>
                    </tr>
                    {%- endfor -%}
                </tbody>
            </table>
            <br>
            {%- endif -%}
            <hr class="mb-4">
        </div>
        <div class="col-md-8 my-4">
            <article>
                {%- if user['projects'] -%}
                <h2 class="mb-4">Projects</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                    {%- for user_project in user['projects'] | sort(attribute='last_updated', reverse = True) -%}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ user_project['url'] }}">{{ user_project["name"] }}</a>
                                </h5>
                                <p class="card-text">{{ user_project["summary"] }}</p>
                                <small>Last updated {{ user_project["last_updated"] | formatDate }}</small>
                            </div>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
                {%- endif -%}
                <h2 class="mb-4">Recent Activity</h2>
                {% include 'includes/recent_activity.html' %}
            </article>
        </div>
    </div>
</div>

{% endblock %}